@import "../variables/Variables.css";


.movie-carousel__tile{
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    height: 400px;
    width: 250px;
    background-color:  transparent;
    transition: width .7s ease, height .5s  ease-out, background-color .3s ease-out ;
    user-select: none;
    -webkit-user-drag: none;

    &:hover .movie-carousel__tile__poster{
        opacity: 0.08;
        transition: opacity .2s ease-in-out;
        cursor: pointer;
    }

    &:hover .movie-carousel__tile__name{
        opacity: 1;
        transition: opacity .35s ease-in-out;
        cursor: pointer;
    }

    &__poster{
        height: 400px;
        transition: opacity .2s ease-in-out;
        opacity: 1;
        user-select: none;
        -webkit-user-drag: none;
        &:focus{
            outline-color: var(--secondary-collor);
        }
    }

    &__popularity{
        display: grid;
        top: 0;
        right: 0;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        justify-content: center;
        align-content: center;
        position: absolute;
        background-color: var(--secondary-collor);
        box-shadow:  1px 1px 2px 1px var(--secondary-collor), 2px 2px 1px 2px var(--scrollbarBG);
        z-index: 999;
    }

    &__name{
        width: 95%;
        z-index: 50;
        position: absolute;
        top: 30%;
        font-size: var(--font-large-size);
        text-align: center;
        opacity: 0;
    }
}



