@import "../variables/Variables.css";

.movie-carousel__info-window {
    z-index: 9999;
    display: grid;
    width: 50vw;
    height:30vh;
    padding: 10px 35px;
    margin: 0;
    background-color:transparent;
    transition: width .3s ease-in, height .55s ease-in;
    grid-template-columns: 4fr 7fr;

    grid-template-areas:
        "header      trailer"
        "header      trailer"
        "popularity  trailer"
        "language    trailer"
        "   .        trailer"
        "overview    trailer"
    ;

    &__span--purple {
        color: var(--thumbBG);
        font-weight: bold;
    }

    &__header {
        grid-area: header;
    }

    &__popularity {
        grid-area: popularity;
    }

    &__language {
        grid-area: language;
    }

    &__overview {
        grid-area: overview;
    }
}

