@import "../variables/Variables.css";

/*****************DEFAULT VALUES*************/
body {
    background-color: var(--background-primary-collor);
    color: var(--font-primary-collor);
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
}

/****************SCROLLBAR*******************/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;

    &-track {
        background: var(--scrollbarBG);
    }

    &-thumb {
        background-color: var(--secondary-collor);
        border-radius: 0px;
    }
}

// Firefox support for scrollbar styles
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-collor) var(--scrollbarBG);
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: var(--secondary-collor);
}


/****************CUSTOM LINKS*******************/

.link-wrapper {
    position: relative;
    cursor: pointer;
    display: inline-block;
    background: transparent;

    &:hover .custom-underline::after {
        top: 117%;
        height: 4px;
        transition: 0.4s ease all;
    }
}

.custom-underline {
    position: relative;
    display: inline-block;
    font-size: var(--font-largest-size);
    font-weight: 200;
    text-align: center;
    color: var(--primary-collor);
    text-decoration: none;

    &::after {
        content: "";
        position: absolute;
        top: 110%;
        height: 3px;
        width: 90%;
        left: 2%;
        background-color: var(--secondary-collor);
        transition: 0.3s ease all .1s;
    }
}